* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    font-size: 14px;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 30px;
}

.logo {
    font-size: 50px;
}

.gnb {
    display: flex;
    margin-right: auto;
}

.gnb li a {
    display: block;
    padding: 12px 26px;
}

.gnb a:hover {
    color: blueviolet;
    font-weight: bold;
}

.btn_login {
    background-color: blueviolet;
    padding: 9px 18px;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.btn_login:hover {
    background-color: transparent;
    border: 1px solid blueviolet;
    color: blueviolet;
}

/* cards */
.cards {
    display: flex;
    gap: 30px;
}

.cards li {
    position: relative;
    color: #fff;
}

.cards li:first-child {
    flex: 1;
} 

.cards li:last-child {
    flex: 1;
}

.cards li .photo {
    height: 400px;
    filter: brightness(50%);
}

.cards img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
 }
 
.user {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
 }

.user .profile {
    width: 40px;
    height: 60px;
 }

 .user .info .job {
    font-size: 12px;
    color: #ccc;
 }

  .cards .user .profile img {
    width: 100%;
    display: block;
    border-radius: 100%;
}





/* 
 .box {
    background-color: #ddd;
    margin: 50px 0;
    height: 200px;
    display: flex;
 }

 .box1 {
    background-color: red;
    height: 100px;
    flex: 1;
 }

 .box2 {
    background-color: blue;
    height: 100px;
    flex: 1;
 } */